.Search {
  text-align: center;
}

.search {
  box-sizing: border-box;
  width: 100%;
  padding: 4px;
  padding-left: 30px;
  outline: none;
  margin: 0;
  background: url(/images/big-icon-filter-hover.png) no-repeat 5px 50%;
  border: none;
  color: #555;
  font-size: 16px;
}
